<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">
</head>
<body>

    <!--navigation bar creation (header)-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-targer="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span>
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Registration Module</a>
            </div>
        </div>
    </nav>
<br>
<br>
    <!--HTML registration form creation-->
    <div class = "container">
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">

                <!--message post login-->
                <div th:if="${param.success}">
                    <div class="alert alert-info">You've registered successfully!</div>
           </div>

           <h1> Registration</h1>

           <form action="#" th:action="@{/registration}" method="post" th:object="${registrationInfo}">
                <div class = "form-group">
                    <label class="control-label" for="firstName"> First Name </label> <input 
                    id="firstName" class="form-control" th:field="*{firstName}" required 
                    autofocus="autofocus" />
                </div>

                <div class = "form-group">
                    <label class="control-label" for="lastName"> Last Name </label> <input 
                    id="lastName" class="form-control" th:field="*{lastName}" required 
                    autofocus="autofocus" />
                </div>

                <div class = "form-group">
                    <label class="control-label" for="username"> Username </label> <input 
                    id="username" class="form-control" th:field="*{username}" required 
                    autofocus="autofocus" />
                </div>

                <div class = "form-group">
                    <label class="control-label" for="password"> Password </label> <input 
                        type="password" id="password" class="form-control" 
                        th:field="*{password}" required 
                        autofocus="autofocus" 
                    />
                </div>

                <div class = "form-group">
                    <label class="control-label" for="passwordVerify"> Password Verify </label> 
                    <input 
                        type="password" id="passwordVerify" class="form-control" 
                        th:field="*{passwordVerify}" required 
                        autofocus="autofocus" 
                    />
                </div>

                <div class = "form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a th:href="@{/login}">Login
                        here</a></span>
                </div>
           </form>
        </div>
    </div>
</body>
</html>